
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
   --green: hsl(75, 94%, 57%);
   --white: hsl(0, 0%, 100%);
   --grey-700: hsl(0, 0%, 20%);
   --grey-800: hsl(0, 0%, 12%);
   --grey-900: hsl(0, 0%, 8%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--grey-900);
    font-family: 'Inter';
}


.container{
    width: 30%;
    height: auto;
    background-color: var(--grey-800);
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.header img{
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.user-details{

    text-align: center;

}

.user-name{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
}

.user-location{
    color: var(--green);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 0px;
}

.user-position{
    font-size: 0.9rem;
    text-align: center;
    padding: 10px 0px;
    color: var(--white);
}

.social-links{
    width: 80%;
    margin: 0px auto;
}

.social-links a {
    display: block;
    width: 100%;
    background-color: var(--grey-700);
    color: var(--white);
    margin: 15px 0px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 15px 0px;
    border-radius: 10px;
    text-decoration: none;
}

.social-links a:active{
    background-color: var(--green);
    color: var(--grey-900);
}

.attribution { 
    font-size: 11px; 
    color: var(--white);
    text-align: center; 
    position: relative;
    top: 15%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* ========================= Media Queries ========================= */
/* ========================= Mobile Devices ========================= */

@media (max-width:480px){
    body{
        width: 100%;
        height: auto;
    }

    .container{
        width: 90%;
        top: 0%;
        transform: translate(-50%);
        margin: 100px 0px;
    }
    
    .header img{
        width: 140px;
    }
    
    .user-details{
        width: 58%;
        margin: 15px auto;
    }
    
   
    .social-links{
        width: 100%;
        margin: 0px auto;
    }

    .attribution { 
        padding: 15px 0px;
    }

    
}


/* ========================= Small Devices ========================= */

@media (min-width:481px) and  (max-width:767px){
    body{
        width: 100%;
        height: auto;
    }

    .container{
        width: 90%;
        top: 0%;
        transform: translate(-50%);
        margin: 100px 0px;
    }
    
    .header img{
        width: 140px;
    }
    
    .user-details{
        margin: 15px auto;
    }
    
   
    .social-links{
        width: 80%;
        margin: 0px auto;
    }

    .social-links a {
        padding: 20px 0px;
    }

    .attribution { 
        padding: 15px 0px;
    }

    
}

/* ========================= Medium Devices/ Tablets========================= */

@media (min-width:768px) and  (max-width:991px){
    body{
        width: 100%;
        height: auto;
    }

    .container{
        width: 90%;
        top: 0%;
        transform: translate(-50%);
        margin: 100px 0px;
    }
    
    .header img{
        width: 140px;
    }
    
    .user-details{
        margin: 15px auto;
    }
    
   
    .social-links{
        width: 80%;
        margin: 0px auto;
    }

    .social-links a {
        padding: 20px 0px;
    }

    .attribution { 
        padding: 15px 0px;
    }

    
}


/* ========================= Large Devices/ Laptops========================= */

@media (min-width:992px) and  (max-width:1199px){
    body{
        width: 100%;
        height: auto;
    }

    .container{
        width: 60%;
        top: 0%;
        transform: translate(-50%);
        margin: 100px 0px;
    }
    
    .header img{
        width: 140px;
    }
    
    .user-details{
        margin: 15px auto;
    }
    
   
    .social-links{
        width: 80%;
        margin: 0px auto;
    }

    .social-links a {
        padding: 20px 0px;
    }

    .attribution { 
        padding: 15px 0px;
    }

    
}